@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-dark: #1f2937;
  --color-light: #f3f4f6;
  --color-body: #000;
  --color-border: #374151;
}
/* utility classes */
@utility bg-gradient-body {
  @apply bg-linear-to-b from-dark  to-body;
}
/* base */
body {
  @apply min-h-screen bg-gradient-body text-light flex flex-col;
}

/* Components */
.container {
  @apply max-w-[1800px] mx-auto p-4;
}
